﻿@model Pro2Man.Web.Data.Entities.ReportEntity

@{
    ViewData["Title"] = "Details";
}

<br />

<h2>Detalle de Reportes</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Codigo de Reporte
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartReportLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartReportLocal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Machine.NameMachine)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Machine.NameMachine)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Operator.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Operator.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.Machine.Photo))
            {
                <img src="@Url.Content(Model.Machine.Photo)" alt="Image" style="width:200px;height:200px;max-width:100%;height:auto" />
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <h4>Observaciones de Operario de Produccion:</h4>
            <h5>
                @Html.DisplayFor(model => model.ObservPro)
            </h5>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="WorkOrder" asp-route-id="@Model.Id" class="btn btn-info workOrder"><i class="glyphicon glyphicon-pencil"> Orden de Trabajo</i></a>        
        <a asp-action="Index" class="btn btn-success">Regresar</a>
    </div>
</div>

