﻿@model IEnumerable<Pro2Man.Web.Data.Entities.ReportEntity>

@{ 
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Historial de Reportes</h3>
            </div>

            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StarReport)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Machine.NameMachine)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Machine.Photo)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Operator.FullName)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartReportLocal)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Machine.NameMachine)
                            </td>

                            <td>
                                @if (!string.IsNullOrEmpty(item.Machine.Photo))
                                {
                                    <img src="@Url.Content(item.Machine.Photo)" alt="Image" style="width:100px;height:100px;max-width:100%;height:auto" />
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Operator.FullName)
                            </td>

                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon-align-justify"></i></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItemReport" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            var item_to_delete;

            $('.deleteItemReport').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Reports/Delete/' + item_to_delete;
            });
        });
    </script>
}