﻿@model Pro2Man.Web.Data.Entities.ReportEntity

@{
    ViewData["Title"] = "OrderDetails";
}

<br />

<h2>Detalle de Orden de Trabajo</h2>

<div>
    @if (Model.WorkOrder == null)
    {
        <br />
        <br />
        <img src="~/images/LogoPucp.jpg" />
        <h2>Aún no hay una Orden de Trabajo para este Reporte</h2>
        <div>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Regresar</a>
        </div>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        Codigo de Orden de Trabajo
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WorkOrder.Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WorkOrder.StartOrderLocal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WorkOrder.StartOrderLocal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WorkOrder.FinishOrderLocal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WorkOrder.FinishOrderLocal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WorkOrder.Operator.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WorkOrder.Operator.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Machine.NameMachine)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Machine.NameMachine)
                    </dd>
                </dl>
            </div>

            <div class="col-md-4">
                <img src="@Url.Content(Model.WorkOrder.Photo)" alt="Image" style="width:200px;height:200px;max-width:100%;height:auto" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <h4>Observaciones de Operario de Produccion:</h4>
                <h5>
                    @Html.DisplayFor(model => model.WorkOrder.ObservMan)
                </h5>
            </div>
        </div>
        <br />
        <div>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Regresar</a>
        </div>
    }
</div>
