﻿@model Pro2Man.Web.Models.EditUserViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Dni" class="control-label"></label>
    <input asp-for="Dni" class="form-control" />
    <span asp-validation-for="Dni" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PhotoFile" class="control-label"></label>
    <input asp-for="PhotoFile" class="form-control" type="file" />
    <span asp-validation-for="PhotoFile" class="text-danger"></span>
</div>