﻿@model Pro2Man.Web.Models.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>
<h4>Usurio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeUser" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Photo" />

            <partial name="_User" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ChangePasswordMVC" class="btn btn-warning">Cambiar Contraseña</a>
            </div>
        </form>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="@Url.Content(Model.Photo)" alt="Image" style="width:300px;height:300px;max-width:100%" ;height: auto;" />
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}