﻿@model Pro2Man.Web.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Cambio Contraseña</h2>

<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" type="password" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>          

            <div class="form-group">
                <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
                <a asp-action="ChangeUser" class="btn btn-success">Volver a Usuario</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

