﻿@{ 
    ViewData["Title"] = "Confirm email";
}

    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Gracias por confirmar su correo. Ahora puede Ingresar al Sistema.
        </p>
    </div>