﻿@model Pro2Man.Web.Models.LoginViewModel
@{ 
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            
            <div class="form-group">
                <label asp-for="Username">Correo</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            
            <div class="form-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="for-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">¿Mantener Iniciada Sesión?</label>
                </div>

                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
                <a asp-action="Register" class="btn btn-primary">Registrar</a>
                <a asp-action="RecoverPasswordMVC" class="btn btn-link">Olvidó contraseña?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}