﻿@model  Pro2Man.Web.Models.AddUserViewModel

@{ 
    ViewData["Title"] = "Register";
}

    <h2>Registrar</h2>

    <h4>Usuario</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CodeOperator" class="control-label"></label>
                    <input asp-for="CodeOperator" class="form-control" />
                    <span asp-validation-for="CodeOperator" class="text-danger"></span>
                </div>

                <partial name="_User" />

                <div class="form-group">
                    <label asp-for="OperatorTypeId" class="control-label"></label>
                    <select asp-for="OperatorTypeId" asp-items="Model.OperatorTypes" class="form-control"></select>
                    <span asp-validation-for="OperatorTypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordConfirm" class="control-label"></label>
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

    <div class="text-success">
        <p>
            @ViewBag.Message
        </p>
    </div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}