﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Carrusel03.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/Carrusel02.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/Carrusel01.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="cards-container">
    <div class="card text-center mantenimiento">
        <div class="card-body">
            <img src="https://img.icons8.com/dusk/80/000000/maintenance.png" style="margin-bottom: 1rem;" />
            <h5 class="card-title" style="margin-bottom: 2rem;">Mantenimiento</h5>
            <a href="#" class="btn btn-info btn-lg">Adelante</a>
        </div>
    </div>
    <div class="card text-center reportes">
        <div class="card-body">
            <img src="https://img.icons8.com/dusk/80/000000/report-card.png" style="margin-bottom: 1rem;">
            <h5 class="card-title" style="margin-bottom: 2rem;">Reportes</h5>
            <a a asp-area="" asp-controller="Reports" asp-action="Index" class="btn btn-info btn-lg">Adelante</a>
        </div>
    </div>
    <div class="card text-center maquinas">
        <div class="card-body">
            <img src="https://img.icons8.com/officel/80/000000/Production-machine.png" style="margin-bottom: 1rem;">
            <h5 class="card-title" style="margin-bottom: 2rem;">Máquinas</h5>
            <a asp-area="" asp-controller="Machines" asp-action="Index" class="btn btn-info btn-lg">Adelante</a>
        </div>
    </div>
</div>

<a href="https://icons8.com/icon/79Q1tqI0yvZ3/production-machine"></a>
<a href="https://icons8.com/icon/43171/maintenance"></a>
<a href="https://icons8.com/icon/42942/report-card"></a>
