﻿@model Pro2Man.Web.Models.MachineViewModel

<div class="form-group">
    <label asp-for="CodeMachine" class="control-label"></label>
    <input asp-for="CodeMachine" class="form-control" />
    <span asp-validation-for="CodeMachine" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="NameMachine" class="control-label"></label>
    <input asp-for="NameMachine" class="form-control" />
    <span asp-validation-for="NameMachine" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PhotoFile" class="control-label"></label>
    <input asp-for="PhotoFile" type="file" class="form-control" />
    <span asp-validation-for="PhotoFile" class="text-danger"></span>
</div>