﻿@model Pro2Man.Web.Data.Entities.MachineEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeMachine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeMachine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameMachine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameMachine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Photo))
            {
                <img src="@Url.Content(Model.Photo)" alt="Image" style="width:100px;height:100px;max-width:100%;height:auto;" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>
