﻿@model Pro2Man.Web.Models.MachineViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Photo" />

            <partial name="_Machine" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="@Url.Content(Model.Photo)" alt="Image" style="width:200px;height:100px;max-width:100%;height:auto;" />
        }
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
